{% extends 'base.html' %}
{% load static %}

    {% block content %}

      <!-- <div class="container py-5">
        <div class="col-md-8 offset-lg-2">

        {% comment %} <h1 class="mb-5">Password Changed</h1> {% endcomment %}
        
        
        <div class="card mb-4 mt-5" id="forms">
          
          <div class="card-body">
           
            <h1></h1>
            
            <div class="text-center">
              Let's 
            </div>
            
          </div>
        </div>

        </div>       
      </div> -->

      <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto py-5 mt-5">
        <div class="text-center">
          <h3 class="fw-bold">New Password Set Successfully.</h3>
          <p class="fw-bold text-primary mb-2"><a href="{% url 'main:login' %}"> Login.</a></p>
          <h1 class="fw-bold"></h1>
        </div>
    </div>
{% endblock content %}