{% extends 'base.html' %}
{% load static %}

    {% block content %}
      {% include 'partials/navbar.html' %}
      <!-- <div class="container py-5">
        <div class="col-md-8 offset-lg-2">

        <h1 class="mb-5 mt-5">Set Password</h1>
        <p class="text-secondary">Set new password here.</p>
        
        <div class="card mb-4" id="forms">
          
          <div class="card-body">
              
            {% include 'partials/_messages.html' %}

            <form method="post" action="">
              <fieldset>
                {% csrf_token %}

                {% for fm in form %}
                    <div class="form-group">
                        {{fm.label_tag}}
                        {{fm}}
                        <small class="text-danger">{{fm.errors|striptags}}</small>
                    </div>
                {% endfor %}
                <button class="btn btn-primary" type="submit">Save</button>
              </fieldset>

              {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="alert alert-danger my-3">
                        {{error}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </p>
                {% endfor %}
              {% endif %}


            </form>

            
          </div>
        </div>

        </div>       
      </div> -->


      <div class="w-25 position-absolute  " style="margin-left:38% ;">
        {% if form.non_field_errors %}
              {% for error in form.non_field_errors %}
                  <p class="alert alert-danger my-3">
                      {{error}}
                      <!-- <span>invallid cridientials</span> -->
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </p>
              {% endfor %}
            {% endif %}
   </div>
<div class="text-primary border rounded-0 login-card" style="background: rgb(255,255,255);">
        <img class="profile-img-card"   src="{% static '/assets/img/avatar_2x.png' %}">
        <p class="profile-name-card"> </p>
        <form method="post" action="" class="form-signin"><span class="reauth-email"> </span>
          <fieldset>
              {% csrf_token %}

                {% for fm in form %}
                  <div class="form-group">
                      {{fm.label_tag}}
                      {{fm}}
                      <small class="text-danger">{{fm.errors|striptags}}</small>
                  </div>
                {% endfor %}
              <button class="btn btn-primary btn-lg border rounded-pill d-block btn-signin w-100" data-bss-hover-animate="shake" type="submit" style="--bs-body-bg: #f1c9aa;background: #f1c9aa;">Sign in</button>
            </fieldset>

          
        </form>
        <div>
          <a class="forgot-password" href="{% url 'main:password-reset' %}">Forgot your password?</a>
        </div>
        <a class="forgot-password" href="{% url 'main:register' %}">Create an Account?</a>
        
     
  </div>
{% endblock content %}