{% extends 'base.html' %}

{% block content  %}
<section>
    <div id="multple-step-form-n" class="container overflow-hidden" style="margin-top: 0px;margin-bottom: 10px;padding-bottom: 300px;padding-top: 57px;">
        <div id="progress-bar-button" class="multisteps-form">
            <div class="row">
                <div class="col-12 col-lg-8 mx-auto mb-4">
                    <div class="multisteps-form__progress">
                        <a class="btn multisteps-form__progress-btn js-active" role="button" title="User Info">User Info</a>
                        <a class="btn multisteps-form__progress-btn" role="button" title="User Info">Education</a>
                        <a class="btn multisteps-form__progress-btn" role="button" title="User Info">Experience</a>
                        <a class="btn multisteps-form__progress-btn" role="button" title="User Info">Skills</a>
                        <a class="btn multisteps-form__progress-btn" role="button" title="User Info">Contact&nbsp;</a></div>
                </div>
            </div>
        </div>
        <div id="multistep-start-row" class="row">
            <div id="multistep-start-column" class="col-12 col-lg-8 m-auto">

                
                <form method="post" action=""
                 id="main-form" class="multisteps-form__form">
                 {% csrf_token %}
                    <div id="single-form-next" class="multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="scaleIn">
                        <h3 class="text-center multisteps-form__title">User Info</h3>
                        <div id="form-content" class="multisteps-form__content">
                            <div id="input-grp-double" class="form-row mt-4 row">
                                <div class="col-lg-6 col-12">
                                    {{form.first_name}}
                                </div>
                                <div class="col-lg-6 col-12 mt-4 mt-lg-0">
                                    {{form.last_name}}
                                </div>
                            </div>
                            <div id="input-grp-single" class="form-row mt-4">
                                {{form.address}}
                                <div class="col-12 d-flex gap-1">
                                    {{form.age}}
                                    {{form.dob}}
                                   
                                </div>
                            </div>
                            <div id="next-button" class="button-row d-flex mt-4"><button class="btn bg-primary border-primary btn btn-primary ml-auto js-btn-next ms-auto" data-bss-hover-animate="shake" type="button" title="Next">Next</button></div>
                        </div>
                    </div>
                    <div id="single-form-next-prev" class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                        <h3 class="text-center multisteps-form__title">Education</h3>
                        <div id="form-content-1" class="multisteps-form__content">
                            <div id="input-grp-double-1" class="form-row mt-4">
                                <div class="col-12 col-sm-12 mt-4 d-flex gap-1">
                                    {{form.sscSchoolName}}
                                    {{form.sscPercentage}}
                                </div>
                                <div class="col-12 col-sm-12 mt-4 d-flex gap-1">
                                  {{form.hscSchoolName}}
                                  {{form.hscPercentage}}
                                </div>
                                <div class="col-12 col-sm-12 mt-4 d-flex gap-1">
                                  {{form.graduationCollegeName}}
                                  {{form.graduationPercentage}}
                                    <!-- <input class="form-control multisteps-form__input" type="month" placeholder="Year of  Graduation"> -->
                                   
                                </div>
                            </div>
                            
                            <div id="next-prev-buttons" class="button-row d-flex mt-4"><button class="btn btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button><button class="btn btn btn-primary ms-auto js-btn-next" type="button" title="Next">Next</button></div>
                        </div>
                    </div>
                    <div id="single-form-next-prev-1" class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                        <h3 class="text-center multisteps-form__title">Experience</h3>
                        <div id="form-content-2" class="multisteps-form__content">
                                <div id="input-grp-single-2" class="form-row mt-4">
                                <div class="col-12">
                                   {{form.experience}}
                                   {{form.carrer_objective}}
                                
                                </div>
                            </div>
                            <div id="next-prev-buttons-1" class="button-row d-flex mt-4"><button class="btn btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button><button class="btn btn btn-primary ms-auto js-btn-next" type="button" title="Next">Next</button></div>
                        </div>
                    </div>
                    <div id="single-form-next-prev-2" class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                        <h3 class="text-center multisteps-form__title">Skills</h3>
                        <div id="form-content-3" class="multisteps-form__content">
                           
                            <div class="col-12">
                                {{form.skills}}
                            
                            </div>
                            
                            <div id="next-prev-buttons-2" class="button-row d-flex mt-4"><button class="btn btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button><button class="btn btn btn-primary ms-auto js-btn-next" type="button" title="Next">Next</button></div>
                        </div>
                    </div>
                    <div id="single-form-next-prev-3" class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                        <h3 class="text-center multisteps-form__title">Contact</h3>
                        <div id="form-content-4" class="multisteps-form__content">
                            
                            <div class="col-12">
                                <textarea class="form-control col-12 mb-4 form-control multisteps-form__input" placeholder="contact" autocomplete="off" rows="10" name="contacts"></textarea>
                            
                            </div>
                            <div id="next-prev-buttons-3" class="button-row d-flex mt-4">
                                <button class="btn btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                                <button class="btn btn btn-primary ms-auto js-btn-next" type="submit" >Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
                
  
                
                
            </div>
        </div>
    </div>
</section>
{% endblock content %}